.home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(222, 204, 204, 0.3)
    ),
    url(assets/images/Header-background-image-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting {
  font-family: "Dancing Script";
}

.about-description {
  padding: 0 4rem 0 0;
  margin-bottom: 2.5rem;
}

.button-icon {
  color: var(--dodger-blue);
}
